[Desktop Entry]
Type=Application
Name=Waypaper Engine
GenericName=Wallpaper Management
Comment=An Electron-based graphical frontend for swww with batteries included! 
Exec=waypaper-engine run
Icon=waypaper-engine
Categories=Utility;Graphics;
Terminal=false
StartupNotify=true
Keywords=wallpaper;playlist;electron;
