[Desktop Entry]
Type=Application
Name=Waypaper Engine
GenericName=Wallpaper Management
Comment=An Electron-based graphical frontend for setting wallpapers and playlists
Exec=waypaper-engine
Icon=waypaper-engine
Categories=Utility;Graphics;
Terminal=false
StartupNotify=true
Keywords=wallpaper;playlist;electron;
