/* @waypaper-theme
 *   name: gruvbox-material-light
 *   displayName: Gruvbox Material Light
 *   category: light
 *   sourceUrl: https://github.com/sainnhe/gruvbox-material
 *
 * Medium contrast light variant.
 */
@plugin "daisyui/theme" {
  name: "gruvbox-material-light";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(95.6% 0.055 96.2);
  --color-base-200: oklch(89.4% 0.057 89.3);
  --color-base-300: oklch(82.5% 0.051 85.1);
  --color-base-content: oklch(24.1% 0.005 219.8);
  --color-primary: oklch(72.1% 0.136 51.8);
  --color-primary-content: oklch(24.1% 0.005 219.8);
  --color-secondary: oklch(72.6% 0.085 141.1);
  --color-secondary-content: oklch(24.1% 0.005 219.8);
  --color-accent: oklch(75.6% 0.113 77);
  --color-accent-content: oklch(24.1% 0.005 219.8);
  --color-neutral: oklch(31.1% 0.003 48.4);
  --color-neutral-content: oklch(24.1% 0.005 219.8);
  --color-info: oklch(72.6% 0.085 141.1);
  --color-info-content: oklch(24.1% 0.005 219.8);
  --color-success: oklch(74.8% 0.107 116.5);
  --color-success-content: oklch(24.1% 0.005 219.8);
  --color-warning: oklch(75.6% 0.113 77);
  --color-warning-content: oklch(24.1% 0.005 219.8);
  --color-error: oklch(67.7% 0.161 25.4);
  --color-error-content: oklch(95.6% 0.055 96.2);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
