#animateText {
  animation: typewriter 1s 0.5s 1 normal both,
    blinkTextCursor 1.1s infinite ease-in-out normal;
}
@keyframes typewriter {
  from {
    width: 0;
    color: transparent;
  }
  
}
@keyframes blinkTextCursor {
  50%{
    border-color: transparent;
  }
}
