/* #animateText {
  animation: typing 1.2s 1ms 1 normal both,
    cursor 0.7s step-end alternate infinite;
  animation-delay: 0.3s;
  padding-right: 1rem;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
} */

#animateText {
  animation: typewriter 1s 1s 1 normal both,
    blinkTextCursor .9s infinite ease-in-out normal;
}
@keyframes typewriter {
  from {
    width: 0;
    color: transparent;
  }
  
}
@keyframes blinkTextCursor {
  50%{
    border-color: transparent;
  }
}
